gestione/src/main/resources/static/palinsesti/palinsesto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="palinsesto">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cartellone" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="percorso" type="xs:string"/>
              <xs:element name="folder" type="xs:string"/>
              <xs:element name="durata" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>